<h1 class="display-4 text-center mt-4">All Users</h1>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<section class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-body rounded">
          <div class="card-header fst-italic">
            <%= link_to user.username, user %>
          </div>
          <div class="card-body">
          <div class="card-title"><%= image_tag 'profile-placeholder.png', height:150, class: "rounded shadow mx-auto d-block" %></div>
            <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
            <%= link_to 'View User', user_path(user), class:"btn btn-outline-success" %>
            <% if logged_in? && user == current_user %>
              <%= link_to "Edit User", edit_user_path(user), class:"btn btn-outline-info" %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
          <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small></div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>